<html>
    <head>
        <title>Rock, Paper, Scissors Game</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <style>
        body {
            background: #e2e2e2;
        }

        h1 {
            text-align: center;
            padding: 20px;
            background: darkgrey;
        }
        .submit_button {
            text-align: center;
        }

        .right{
            padding-left: 20%;
        }
        .left{
            padding-left: 20%;
        }
        .toggle{
            display: none;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Rock, Paper, Scissors</h1>
            <div class="row">
                <div class="col-xs-6 left">
                    <form action='/view_result'>
                        <div class='form-group'>
                            <label for="player_one">Player One</label><br>
                            <input name="player_one" id="player_one1" value="0" type="radio" required><label for="player_one1">Rock</label><br>
                            <input name="player_one" id="player_one2" value="1" type="radio"><label for="player_one2">Paper</label><br>
                            <input name="player_one" id="player_one3" value="2" type="radio"><label for="player_one3">Scissors</label><br>
                        </div>
                    </div>
                    <div class="col-xs-6 right">
                        <div class='form-group'>
                            <label for="player_two">Player Two</label><br>
                            <input name="player_two" id="player_two1" value="3" type="radio"><label for="player_two1">Rock</label><br>
                            <input name="player_two" id="player_two2" value="6" type="radio"><label for="player_two2">Paper</label><br>
                            <input name="player_two" id="player_two3" value="9" type="radio"><label for="player_two3">Scissors</label><br>
                            <p class="toggle"><input name="player_two" id="player_two" value="99" type="radio" checked="checked"></p>
                        </div>
                    </div>
                </div>
                <div class="row submit_button">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </form>
                    <button class="btn btn-default" id="hide">1 or 2 Player</button>
                </div>
                <script>
                    $('#hide').click(function() {
                        $('.right').toggleClass('toggle');
                    });
                </script>
        </div>
    </body>
</html>
