<html>
    <head>
        <title>Rock, Paper, Scissors Game</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Rock, Paper, Scissors</h1>
            <form action='/view_result'>
                <div class='form-group'>
                    <label for="player_one">Player One</label><br>
                    <input name="player_one" id="player_one" value="0" type="radio">Rock<br>
                    <input name="player_one" id="player_one" value="1" type="radio">Paper<br>
                    <input name="player_one" id="player_one" value="2" type="radio">Scissors<br>
                </div>
                <br>
                <div class='form-group'>
                    <label for="player_two">Player Two</label><br>
                    <input name="player_two" id="player_two" value="3" type="radio">Rock<br>
                    <input name="player_two" id="player_two" value="6" type="radio">Paper<br>
                    <input name="player_two" id="player_two" value="9" type="radio">Scissors<br>
                </div>
                <button type="submit">Submit</button>

            </form>
        </div>
    </body>
</html>
