<html>
    <head>
        <title>Result</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <h1> {{ result }} </h1>
        <br><br>
        <a href="/">Play Again</a>
    </body>
</html>
