<html>
    <head>
        <title>Result</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <style>
        .glyphicon-thumbs-up {
                            font-size: 10em;
                            }
        h1 {
            text-align: center;
        }
        h3 {
            padding-left: 40px;
        }
        body {
            background: #e2e2e2;
        }
        #title {
            background: darkgrey;
            padding: 20px;
        }

        .padding{
            padding-left: 20%;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 id="title">Thanks for playing!</h1>
                <br>
                <br>
                {% if result == "Tie!" %}
                    <div class="col-sm-12">
                        <h4>{{ result }}</h4>
                    </div>
                {% endif %}

                {% if result == "Player 1 Wins!" %}
                    <div class="col-sm-6 padding">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <div class="col-sm-6 padding">
                        <h4>{{ result }}</h4>
                    </div>
                {% endif %}

                {% if result == "Player 2 Wins!" %}
                    <div class="col-sm-6 padding">
                        <h3>{{ result }}</h3>
                    </div>
                    <div class="col-sm-6 padding">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <h1><a class="btn btn-default" href="/" role="button">Play Again</a></h1>
            </div>
        </div>
    </body>
</html>
